# FIXME: use `passthrough` once we can rely on Podman v4.0.0 or newer being present
## assert-podman-final-args run --name=systemd-%N --cidfile=%t/%N.cid --replace --rm --log-driver journald --runtime crun --cgroups=split --sdnotify=conmon  -d localhost/imagename
# assert-podman-final-args run --name=systemd-%N --cidfile=%t/%N.cid --replace --rm --log-driver passthrough --runtime crun --cgroups=split --sdnotify=conmon  -d localhost/imagename

[Container]
Image=localhost/imagename

# Disable all default features to get as empty podman run command as we can
NoNewPrivileges=no
DropCapability=
VolatileTmp=no
Timezone=
