## assert-failed
## assert-stderr-contains "Converting \"range.no-subnet.network\": cannot set Gateway or IPRange without Subnet"

[Network]
IPRange=192.168.1.0/32
