## assert-symlink default.target.wants/mysleep_1.service ../mysleep_1.service
## assert-symlink multi-user.target.wants/mysleep_1.service ../mysleep_1.service

[Unit]
Description=The sleep container
After=local-fs.target

[Container]
Image=registry.access.redhat.com/ubi9-minimal:latest
Exec=sleep 1000

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
